@import "./colors.scss";

.ant-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-green;
  h3 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: $white;
  }
  span.anticon-menu {
    color: $white;
    font-size: 2em;
  }
  nav.navbar {
    width: 100vw;
    height: 100vh;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .anticon-close {
      position: absolute;
      top: 30px;
      left: 30px;
      color: $dark-green;
      font-size: 2em;
      &:active {
        color: rgba($dark-green, 0.8);
        font-weight: bold;
      }
    }
    ul {
      margin: 0;
      margin-top: 5em;
      padding: 0;
    }
    li {
      list-style-type: none;
      text-align: center;
      color: $dark-green;
      font-family: "Montserrat", sans-serif;
      font-size: 2em;
      font-weight: 900;
      &:hover {
        color: rgba($dark-green, 0.8);
      }
      &:active {
        color: rgba($dark-green, 0.8);
      }
    }
  }
}

.content {
  margin: 1em;
}

.title {
  color: $green;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 900;
}

.text {
  color: $dark-green;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
